<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Ethos</title>
</head>

<body>


<table width="100%"> 
 <tbody>
 
<tr> 
<td align="center" width="auto">
 
 <span style="font-size:14px; font-family: Helvetica,Arial,Verdana,sans-serif">Advertisement delivered by Ethos Marketing Partner.</span><br /><br />
<a href="https://go.nextwebguide-email.com/l/q_bYSr6fQMZ-H-WK5_gYUCLPxzWttMQgBoStgbXMEJI">
<img src="https://go.nextwebguide-email.com/admin/temp/user/shared/ethos_life_cpl_36174_0031.jpg" border="0" alt="Ethos" width="600px"/></a>
<br />

</td> 
</tr> 
</tbody>
</table>




<table width="550" border="0" align="center" style="font-family:Arial, Helvetica, sans-serif;font-size:12px;">
 <tr>
 <td style="font-family:Helvetica,Arial,Verdana,sans-serif;text-align:center;font-size:18px;"><br />

 <span style="font-size:10px;">This is an advertisement. You are receiving this message because you opted-in to receive emails from marketing associates of Ethos Technologies Inc. and/or its affiliates (collectively, “Ethos”). Ethos operates in some states as Ethos Life Insurance Services. CA license #0L28949; AR license #100164629. <br />
<br />
This email was sent by a marketing associate of Ethos, not Ethos itself. To stop receiving email advertisements from Ethos <a href="https://go.nextwebguide-email.com/l/q_bYSr6fQMZ-H-WK5_gYUKPe0D7F9f8pMnIHwRBsP6s">please click here</a> and follow any relevant instructions. Please allow up to 10 business days to cease receiving email advertisement messaging from Ethos. <br />
<br />
Ethos mailing address is at 1606 Headway Cir #9013, Austin, TX 78754. Products not available in all states.<br /><br />
 
 <br></span></td>
 </tr> 
</table>
 
 

<br/><div style="text-align: center;">
<br/>
Sent By:  Next Web Guide<br/>
1510 Castle Hill Ave #1045, Bronx NY 10462<br />
<br />
You are receiving this ad-supported email because<br />
you opted in at one of the Next Web Guide websites.<br />
<br />
<a href="https://go.nextwebguide-email.com/u/OISi8JGPPbdluV8QkQaqDg4uFdN2k6nwaP3Sq5XbqDPVHcJLbyC5Z1zvDwXnaK2AHbpbuomOU8JXj6gShG5Jdw"><span style="color:#000066;">Unsubscribe</span></a></span>
</div><img src="https://go.nextwebguide-email.com/o/Cr6fN5XHdVu9YuAZuzvFqftPKnRujz8vOQivYqgqDOE?image=.gif" height="1" width="10" alt=" "/>
</body>
</html>
